.add-variables {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    margin-bottom: -5px !important;
    background-color: #ffe33d;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-variables span::before,
.add-variables span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -7px;
    width: 14px;
    height: 2px;
    border-radius: 1px;
    background-color: #222;
}
.add-variables span::before,
.add-variables span::after {
    content: '';
    display: block;
}
.add-variables span::after {
    transform: rotate(90deg);
}


.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}