.counter {
    background-color: #e8e8e8;
    color: black;
}
.formula {
    background-color: rgb(68, 68, 68);
    color: white;
}

.formula > input {
    color: black;
}

.formula, .counter {
    border-bottom: solid 1px #b92c28;
}

.formula > button {
    color: #0f0f0f;
}
.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 25px;
    height: 25px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 26px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.del-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    margin-bottom: -5px !important;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.del-btn span::before,
.del-btn span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -7px;
    width: 14px;
    height: 2px;
    border-radius: 1px;
    background-color: #222;
}
.del-btn span::before,
.del-btn span::after {
    content: '';
    display: block;
}
.del-btn span::after {
    transform: rotate(45deg);
}
.del-btn span::before {
    transform: rotate(-45deg);
}