.h-bar {
    fill: steelblue;
}

.h-bar:hover::before {
    content: '';
    display: block;
    height: 50px;
    width: 50px;
    background-color: #b92c28;
    z-index: 999;
}

.h-axis--x path {
    display: none;
}
.h-axis--x {
    font-size: calc(.5vw + .5vh + .5vmin);
}
.h-axis--y {
    font-size: calc(.5vw + .5vh + .5vmin);
}