body {
    margin: 0;
}
.content-container {
    min-width: 25%;
    margin-top: 50px;

}
.navbar-default {
    margin-bottom: 0 !important;
}

.settings-container {
    z-index: 9999;
    margin-top: 0;
}
.sticky {
    background-color: white;
    z-index: 9999;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.arrow-d {
    display: block;
    height: 16px;
    line-height: 5px;
    padding: 4px 4px;
    font-size: 14px;
    margin-bottom: 13px;
    clear:both;
    width: 100%;
    background-color: #e8e8e8;
    align-content: right;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}


.arrow-up, .arrow-down {
    position: absolute;
    right: 6px;
    display: inline-block;
}
.arrow-up {

    transform: rotate(90deg);
}

.arrow-down {
    transform: rotate(-90deg);
}