.select-number {
    margin: 5px;
    background: #ddd;
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 34px;
    margin-left: 55px;
}
